// Here you can add other styles

// sidebar
.c-sidebar {
  background: linear-gradient(135deg, #e252a8, #346ba2);
}
.c-sidebar .c-sidebar-nav-link.c-active,
.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle {
  background: rgba(255, 255, 255, 0.32);
}
.c-sidebar .c-sidebar-nav-link:hover,
.c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
  color: white;
  background: rgba(255, 255, 255, 0.32);
}
.c-sidebar.c-sidebar-minimized .c-sidebar-nav-item:hover > .c-sidebar-nav-link,
.c-sidebar.c-sidebar-minimized
  .c-sidebar-nav-item:hover
  > .c-sidebar-nav-dropdown-toggle {
  background: #9185f9;
}
.c-sidebar .c-sidebar-nav-link:hover,
.c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
  background: #9185f9;
}
.c-sidebar.c-sidebar-minimized .c-sidebar-nav > .c-sidebar-nav-dropdown:hover {
  background: #9185f9;
}
.c-sidebar .c-sidebar-nav-dropdown.c-show {
  background: transparent;
}

// Login Page

.login-form {
  max-width: 508px;
}
.login-container {
  margin-top: 15%;
}
.login-row {
  margin-left: 0px;
  margin-right: 0px;
}

// Department

.department-input {
  background-color: white;
}
.department-table {
  padding: 0px;
  background-color: white;
  min-width: 50%;
}
.department-form {
  padding: 5px;
  border: 5px solid #ebedef;
  background-color: white;
  min-width: 50%;
}

// Location
.location-input {
  background-color: white;
}
.location-table {
  padding: 0px;
  background-color: white;
  min-width: 50%;
}
.location-form {
  padding: 5px;
  border: 5px solid #ebedef;
  background-color: white;
  min-width: 50%;
}

// Employee
.employee-table {
  background-color: white;
  min-width: 40%;
}


// Attendance
.attendance-table {
  background-color: white;
  min-width: 40%;
}

.filter-taskbar{
  padding-top: 28px;
}
.filter-taskbar button{
  width: 90px;
  margin: 0px 15px 0px 15px;
}

//Recognize
.recognize{
  background-image: linear-gradient(135deg, #52bae270, #55b7df);
  height: 98vh;
}
.recognize-form{
  margin: 20px 0px 20px 0px;
}
.recognize-block{
  background-image: linear-gradient(135deg, #fdfdfd73, #93d9f5f0);
  margin: 15px;
  text-align: center;
  height: 100%;
}
.recognize-header{
  display: inline-block;
  height: 60px;
  width: 100%;
  background: #ffffff2b;
} 
.recognize-camera{
  width: 95%;
  height: inherit;
  margin: 20px;  
}
.recognize-employee{
  padding: 0px 25px 0px 25px;
}
.recognize-employee-table td{
  height: 50px;
  border: none;
  text-align: left;
}
.recoginze-button{
  padding: 2px;
}

.recoginze-button button{
  margin: 5px 5px 5px;
  width: 29%;
  height: 40px;
  border: none;
  border-radius: unset;
  //color: #666666;
  //background: linear-gradient(135deg, #d5ecf4, #b5e3f4);
  //font-size: large;
  //font-family: serif;
}
.recognize-footer{
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}
.text-header{
  color: #767d86fc;
  font-size: 26px;
  font-family: "Times New Roman";
  padding-top: 10px;
  margin: 0px;
  text-transform: uppercase;
}


// stdcheckin

.checkin{
  background-image: linear-gradient(180deg, #c552e270, #93c4f6a6);
  height: 98vh;
}

.checkin-block {
  background-image: linear-gradient(135deg, #fdfdfd73, #b2dcec78);
  margin: 15px;
  text-align: center;
  height: 100%;
}

.checkin-status{
  display: inline-block;
  height: 80px;
  width: 90%;
  padding: 20px 0px 0px 0px;

}

.status-bar{
  height: 100%;
  width: 100%;
  margin: 0px;
}

.status-bar div {
  height: 60px;
  padding: 0px 15px 0px 0px;
}
.status-bar div p {
  height: 100%;
  background: linear-gradient(135deg, #ffffff52, #f1ebfaa3);
}
// Loading
.loading {
  position: fixed;
  left: 45%;
  top: 50%;
  width: 100%;
  min-height: 100%;
  background: transparent;
  z-index: 1;
  margin-top: 15px;
}

// Container
.container-fluid,
.container-sm,
.container-md {
  padding-left: 0px;
  padding-right: 0px;
}

.my-container{
  padding: 15px 15px 0px 15px
}
// Other custom
.table td {
  vertical-align: middle;
  background-color: white;
  //border: 0.025rem solid #d8dbe0;
}
.button-add-image {
  color: #8a93a2;
  text-align: left;
}

.button-toolbar {
  height: 34px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.col {
  padding: 5px;
}

.c-main {
  padding-top: 25px;
}
.card-body {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.modal-secondary .modal-header {
  background: linear-gradient(20deg, #c424bed1, #284bc1);
}

.display-4{
  font-size: 1.2rem !important;
  color: white;
}


// Image crop-upload
.vue-image-crop-upload .vicp-wrap {
  max-width: 498px !important;
  width: unset !important;
}
.vue-image-crop-upload .vicp-wrap .vicp-close .vicp-icon4 {
  display: none !important;
}
.image_profile_upload {
  display: block;
  width: 100%;
  border-radius: 0.25rem;
  margin-top: 15px;
  margin-bottom: 15px;
}

